@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --color-background-menu: #312b5c;
    --color-text-menu: white;
}
body{
    font-family: "Montserrat", sans-serif;
}