@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --color-background-menu: #312b5c;
    --color-text-menu: white;
    --color-text-title: linear-gradient(to top, #bd9867 0%, #fce3bc 100%);
    --color-hero-name:#edbe80;
    --color-text-a: white;
}
body{
    font-family: "Montserrat", sans-serif;
}