@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --color-background-menu: #312b5c;
    --color-text-menu: white;
    --color-text-title: linear-gradient(to top, #bd9867 0%, #fce3bc 100%);
    --color-hero-name:#edbe80;
    --color-text-a: white;
    --color-text-p:#b99562;
    --color-text-item-hero:#7f7f7f;
    --color-background-footer:#212222;
    --color-text-footer-p:#797979;
    --color-text-footer-h3:#c9bb93;
}
body{
    font-family: "Montserrat", sans-serif;
}
.row{
    margin-right: 0;
}